# This file sets environment variables to help standardize our dev environments.
# To have this file sourced automatically every time you enter this directory, install
# direnv - https://direnv.net/ and add `eval "$(direnv hook bash)"` to your ~/.bashrc file.

case "$(uname -s)" in
  Darwin*)
    source_env .envrc.macos
  ;;
  Linux*)
    if [[ -f /etc/arch-release ]]; then
        source_env .envrc.arch-linux
    fi
  ;;
esac

TOOLCHAIN_PYTHON_DIR="$(pyenv root)/versions/3.9.12/bin"
TOOLCHAIN_PYTHON="${TOOLCHAIN_PYTHON_DIR}/python"

# Use a toolchain specific python binary.
PATH_add "${TOOLCHAIN_PYTHON_DIR}"
export TF_PLUGIN_CACHE_DIR=~/.cache/terraform/plugins/

# Have pants bootstrap from a canonical version of python.
export PYTHON="${TOOLCHAIN_PYTHON}"

export CXXFLAGS="${CXXFLAGS} -stdlib=libc++ -std=c++11"

# Disable ipython by default.
# To override this, add `export TOOLCHAIN_INSTALL_IPYTHON="yes"` to your .envrc.private file.
export TOOLCHAIN_INSTALL_IPYTHON="no"

# Force the helm s3 plugin to work in helm v3 mode.
export HELM_S3_MODE=3

# To override values, or to set additional environment variables, create a file called `.envrc.private`
# and modify however you like.
if [[ -f .envrc.private ]]; then
  source_env .envrc.private
fi
