#!cloud-config
# Copyright 2023 Toolchain Labs, Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

write_files:
  - path: /etc/bb_storage/config.jsonnet
    owner: root:root
    permissions: '0444'
    content: |
      {
        // Administrative endpoint
        global: { diagnosticsHttpListenAddress: ':8080' },

        // Remote Execution API endpoint
        grpcServers: [
          {
            listenAddresses: [':8981'],
            authenticationPolicy: { allow: {} },
          },
        ],

        blobstore: {
          contentAddressableStorage: {
            'local': {
              blocksOnBlockDevice: {
                source: {
                  devicePath: "${data_ebs_block_device}",
                },
              },

              keyLocationMapOnBlockDevice: {
                file: {
                  path: '/metadata/cas/key_location_map',
                  sizeBytes: 16 * 1024 * 1024,
                },
              },

              persistent: {
                stateDirectoryPath: '/metadata/cas/persistent_state',
                minimumEpochInterval: '5m',
              },

              // The number of indices a Get() call on the key-location map may
              // attempt to access. The lower the utilization rate of the
              // key-location map, the lower this value may be set. For example, if
              // the size of the key-location map is set in such a way that it is
              // only utilized by 10% (factor 0.1), setting this field to 16 means
              // there is only a 0.1^16 chance that inserting an entry prematurely
              // displaces another object from storage.
              //
              // Recommended value: 8
              keyLocationMapMaximumGetAttempts: 8,

              // The number of mutations that a Put() on the key-location map may
              // perform. Because the key-location map uses a scheme similar to
              // Robin Hood hashing, insertions may cause other entries to be
              // displaced. Those entries may then cause even more entries to be
              // displaced. Because of that, it is recommended to set this field to
              // a small multiple of the maximum Get() attempts.
              //
              // Recommended value: 32
              keyLocationMapMaximumPutAttempts: 32,

              // The number of blocks, where attempting to access any data stored
              // within will cause it to be refreshed (i.e., copied into new
              // blocks).
              //
              // Setting the number of old blocks too low may cause builds to fail,
              // due to data disappearing prematurely. Setting the number of old
              // blocks too high may cause an excessive amount of duplication in the
              // data set. For example, if old_blocks == current_blocks + new_blocks,
              // there may be a redundancy in the data set up to a factor of two.
              //
              // Recommended value: 8
              oldBlocks: 8,

              // The number of blocks, where attempting to access data stored within
              // will not cause data to be refreshed immediately. The containing
              // block will first need to become old for data to be eligible for
              // refreshes.
              //
              // Recommended value: 24
              currentBlocks: 24,

              // The number of blocks where new data needs to be written. It is
              // valid to set this to just 1. Setting it to a slightly higher value
              // has the advantage that frequently used objects will over time get
              // smeared out across the data set. This spreads out the cost
              // refreshing data from old to new blocks.
              //
              // Because the probability of storing objects in new blocks has an
              // inverse exponential distribution, it is not recommended to set this
              // to any value higher than 4. Whereas the first new block will at
              // times be somewhere between 50% and 100% full, the fourth new block
              // will only be between 6.25% and 12.5% full, which is wasteful.
              //
              // Recommended value: 3
              newBlocks: 3,
            },
          },

          actionCache: {
            'local': {
              keyLocationMapOnBlockDevice: {
                file: {
                  path: '/metadata/ac/key_location_map',
                  sizeBytes: 1024 * 1024,
                },
              },
              keyLocationMapMaximumGetAttempts: 8,
              keyLocationMapMaximumPutAttempts: 32,
              oldBlocks: 8,
              currentBlocks: 24,
              newBlocks: 3,
              blocksOnBlockDevice: {
                source: {
                  file: {
                    path: '/metadata/ac/blocks',
                    sizeBytes: 100 * 1024 * 1024,
                  },
                },
                spareBlocks: 3,
              },
              persistent: {
                stateDirectoryPath: '/metadata/ac/persistent_state',
                minimumEpochInterval: '5m',
              },
            },
          },
        },
      }

  - path: /etc/systemd/system/bb_storage.service
    owner: root:root
    permissions: '0444'
    content: |
      [Unit]
      Description=BuildBarn storage service
      After=network.target

      [Service]
      EnvironmentFile=-/etc/environment
      ExecStart=/usr/local/bin/bb_storage /etc/bb_storage/config.jsonnet
      SyslogIdentifier=bb_storage
      Restart=on-failure
      Type=exec

      [Install]
      WantedBy=multi-user.target
      Alias=bb_storage.service

disk_setup:
  ${metadata_ebs_block_device}:
    table_type: "mbr"
    layout: True
    overwrite: false

fs_setup:
  - label: metadata
    filesystem: ext4
    device: ${metadata_ebs_block_device}
    partition: auto
    overwrite: false

mounts:
  - [ "LABEL=metadata", "/metadata" ]

runcmd:
  - [ /bin/bash, -c, "mkdir -p /metadata/cas/persistent_state /metadata/ac/persistent_state" ]
  - [ /bin/bash, -c, "systemctl start bb_storage.service" ]
