# Copyright 2019 Toolchain Labs, Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

{{- $namespace := .Release.Namespace }}
{{- $name := .Values.name }}

{{- if .Values.enabled }}
{{- $region := required "You must set global.region!" .Values.global.region }}
{{- $logs_prefix := required "You must set logs_prefix!" .Values.logs_prefix }}
{{- $healthcheck_path := required "You must set healthcheck_path!" .Values.healthcheck_path }}
{{- $extra_attributes := ternary "" (printf ",%s" .Values.extra_attributes) (empty .Values.extra_attributes )}}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ printf "%s-%s" $namespace $name }}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: {{ .Values.scheme }}
    alb.ingress.kubernetes.io/ip-address-type: ipv4
    alb.ingress.kubernetes.io/listen-ports: >- 
      {{ .Values.listen_ports }}
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-2016-08
    alb.ingress.kubernetes.io/certificate-arn: {{ index .Values.ssl_certificate_arn $region }}
    alb.ingress.kubernetes.io/security-groups: {{ index .Values.external_ingress_sg_id $region }}
    {{- if .Values.ssl_redirect_enabled }}
    alb.ingress.kubernetes.io/actions.ssl-redirect: >-
      {"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}
    {{- end }}
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    alb.ingress.kubernetes.io/load-balancer-attributes:
      "access_logs.s3.enabled=true,\
       access_logs.s3.bucket=logs.{{ $region }}.toolchain.com,\
       access_logs.s3.prefix=elb-access-logs/{{ $logs_prefix }}/{{ $namespace }}/{{ $name }}{{ $extra_attributes }}"
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
    {{- if .Values.backend_protocol_version }}
    alb.ingress.kubernetes.io/backend-protocol-version: {{ .Values.backend_protocol_version }}
    {{- end }}
    alb.ingress.kubernetes.io/healthcheck-port: traffic-port
    alb.ingress.kubernetes.io/healthcheck-path: {{ $healthcheck_path }}
    # Note: these must be quoted strings, or the resource will be ignored by the ingress controller!
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: "15"
    alb.ingress.kubernetes.io/healthcheck-timeout-seconds: "5"
    alb.ingress.kubernetes.io/success-codes: {{ .Values.healthcheck_success_codes | quote }}
    alb.ingress.kubernetes.io/healthy-threshold-count: "2"
    alb.ingress.kubernetes.io/unhealthy-threshold-count: "2"
spec:
  rules:
  {{- if .Values.ssl_redirect_enabled }}
    # ssl-redirect rule must be first, before any routing rules from values.
    # Note that 'http' rules apply to both port 80 and port 443 listeners, but the ALB Ingress controller checks
    # for infinite redirection loops, and so will ignore this rule for the port 443 listener.  See here for more:
    # https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/tasks/ssl_redirect/
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ssl-redirect
                port:
                  name: use-annotation
    {{- end }}
{{ tpl (toYaml .Values.rules) . | nindent 4 -}}
{{- end }}