# Copyright 2021 Toolchain Labs, Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

apiVersion: batch/v1
kind: Job
metadata:
  name: posthog-migrate
  labels:
    app: posthog
    chart: {{ .Chart.Name  }}
    role: migration
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation"
    "helm.sh/hook-weight": "-5"
spec:
  template:
    metadata:
      name: posthog-migrate
      labels:
        app: posthog
        release: {{ .Release.Name }}
        chart: {{ .Chart.Name  }}
        role: migration
    spec:
      restartPolicy: Never
      containers:
      - name: migrate-job
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        command: ["python","manage.py","migrate"]
        env:
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: posthog-django-secret-key
              key: secret_string
        - name: POSTHOG_DB_USER
          value: "posthog"
        - name: POSTHOG_DB_NAME
          value: posthog
        - name: POSTHOG_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Namespace }}-db-posthog-password
              key: postgres-password
        - name: POSTHOG_POSTGRES_HOST
          value: {{ .Release.Namespace }}-db-postgresql.{{ .Release.Namespace }}
        - name: POSTHOG_REDIS_HOST
          value: {{ .Values.redis.host }}
