# Copyright 2019 Toolchain Labs, Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

{{- /* A named template for rendering a list of all known secret names. */ -}}
{{- /* Renders a string secret1+secret2+secret3+...+secretN.            */ -}}
{{- /* Callers can obtain a list using:                                 */ -}}
{{- /* $secrets := (include "django.secrets" . | splitList "+")         */ -}}

{{- define "django.secrets" -}}

{{- /* Helm templates don't support appending to a list variable in a range loop.
       See here for a description of the issue, and of this wrapper dict workaround:
       https://stackoverflow.com/questions/47668793/helm-generate-comma-separated-list */ -}}
{{- $wrapper_dict := dict "secrets" (list) }}
{{- range .Values.secrets -}}
  {{ $noop := append $wrapper_dict.secrets . | set $wrapper_dict "secrets" }}
{{- end -}}
{{- range .Values.dbs -}}
  {{ $noop := append $wrapper_dict.secrets (printf "%s-db-%s-creds" $.Release.Namespace .) | set $wrapper_dict "secrets" }}
{{- end -}}
{{- $unique_secrets := $wrapper_dict.secrets | uniq }}
{{- $unique_secrets | join "+" }}
{{- end -}}
