# Copyright 2023 Toolchain Labs, Inc. All rights reserved.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: remote-exec-prod-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: remote-exec-workers-prod
  minReplicas: 2
  # see: prod/terraform/resources/us-east-1/kubernetes/dev-e1-1/nodes/nodes.tf
  maxReplicas: 10
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
    scaleUp:
      stabilizationWindowSeconds: 30
  metrics:
   - type: Resource
     resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 40