name: Upgrade Terraform Providers
# Based on https://www.oddbird.net/2022/06/01/dependabot-single-pull-request/
on: 
  workflow_dispatch: # Allow running on-demand
jobs:
  upgrade:
    name: Upgrade Terraform Proviers & Open Pull Request
    runs-on: ubuntu-latest
    permissions: 
      # https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services#adding-permissions-settings
      id-token: write 
      contents: write
      pull-requests: write
    env:
      BRANCH_NAME: auto-updates/terraform-providers
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.0.0
        with:
          # see: prod/terraform/resources/global/iam/github_actions_identity.tf
          role-to-assume: arn:aws:iam::283194185447:role/github-actions-tf-provider-upgrade
          aws-region: us-east-1
      - uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2.0.3
      - name: Set env vars
        run: |
          echo 'export TF_PLUGIN_CACHE_DIR=/home/runner/.cache/terraform/plugins' >> ${GITHUB_ENV}
      - name: Upgrade Terraform providers.
        working-directory: prod/terraform/resources/
        run: ./upgrade_providers.sh
      - name: Detect changes
        id: changes
        run:
          # This output boolean tells us if the dependencies have actually changed
          echo "CHANGE_COUNT=$(git status --porcelain=v1 prod/terraform/ 2>/dev/null | wc -l)" >> $GITHUB_OUTPUT
      - name: Commit & push changes
        # Only push if changes exist
        if: steps.changes.outputs.CHANGE_COUNT > 0
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add prod/
          git commit -m "Automated Terraform Providers upgrades"
          git push -f origin ${{ github.ref_name }}:$BRANCH_NAME
      - name: Open pull request if needed
        if: steps.changes.outputs.CHANGE_COUNT > 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Only open a PR if the branch is not attached to an existing one
        run: |
          PR=$(gh pr list --head $BRANCH_NAME --json number -q '.[0].number')
          if [ -z $PR ]; then
            echo "Full log: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\n\nThis PR needs to be manually closed and reoopend in order to trigger the Gihub Actions CI jobs. \n see: https://github.com/peter-evans/create-pull-request/issues/48#issuecomment-536184102" > pr_body.txt
            gh pr create \
            --head $BRANCH_NAME \
            --assignee asherf \
            --reviewer asherf \
            --title "Automated Terraform Providers upgrades" \
            --body-file pr_body.txt
          else
            echo "Pull request already exists, won't create a new one."
          fi
